# Postgres Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=visual_search
POSTGRES_PORT=5432

# Redis Configuration
REDIS_PORT=6379

# Storage Configuration
STORAGE_ACCESS_KEY=minioadmin
STORAGE_SECRET_KEY=minioadmin

